<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Room</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container">
        <form>
            <div class="form-group">
                <label>Room Name</label>
                <input type="text" class="form-control" id="new-room-input" placeholder="Type room name">
            </div>
            <button id="new-room-button" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        const electron = require('electron');
        const ipcRenderer = require('electron').ipcRenderer;
        const btn = document.getElementById('new-room-button');
        const rooms = require('./Rooms.js');
        const R = new rooms.Rooms();

        btn.addEventListener('click', addNewRoom);

        function addNewRoom(){
            R.addNewRoom(document.getElementById('new-room-input').value);
            ipcRenderer.send('new-room-added',document.getElementById('new-room-input').value);
        }

    </script>
</body>
</html>