<!DOCTYPE html>
<html lang="en">

<head>
    <title>Game Room</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="data/chat_style.css" media="screen" />
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <div class="row" id="roomName"></div>
    <div class="row">
        <div class="col-md-8" style="height:600px;border-right: 1px dashed #333;">
            <div class="row" style="height:90%;">
                <canvas id="myCanvas" width="600" height="600" style="border-style: solid;" />
            </div>
            <div class="row" style="padding-left:50px;">
                <button type="button" class="btn btn-danger" id="clear-button">Clear</button>
            </div>
        </div>
        <div class="col-md-4" style="height:600px;">
            <div class="row" style="height:80%;">
                <div class="col-md-12">
                    <div class="chatbody">
                        <div class="panel panel-primary">
                            <div class="panel-heading top-bar">
                                <div class="col-md-8 col-xs-8">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat </h3>
                                </div>
                            </div>
                            <div class="panel-body msg_container_base" id="main-chat-panel">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row panel-footer container">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <form>
                                    <input type="text" class="form-control" id="text-field" />
                                    <button class="btn btn-primary text" id="text-button">Submit Message</button>
                                    <button class="btn btn-primary exit" id="exit-button">Exit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const cS = require('./Canvas.js');
            let net = require('net');
            const canvasSerializer = new cS.Canvas();
            let fs = require('fs');
            let path = 'components/data/canvas.json';
            const ipcRenderer = require('electron').ipcRenderer;
            let owner = '';
            let user = '';
            let pass;

            function Pixels() {
                this.pixels = [];
                canvasSerializer.clearJson();
            }

            Pixels.prototype.addPixel = function (pX, pY, cX, cY) {
                let pixel = {
                    'pX': pX,
                    'pY': pY,
                    'cX': cX,
                    'cY': cY
                }
                this.pixels.push(pixel);
            }

            Pixels.prototype.getPixels = function () {
                return this.pixels;
            }

            Pixels.prototype.savePixelsToJson = function () {
                canvasSerializer.saveCanvas(this.pixels);
            }

            Pixels.prototype.appendPixelsToJson = function () {
                canvasSerializer.appendToCanvas(this.pixels);
                this.pixels = [];
            }

            Pixels.prototype.erase = function () {
                this.pixels = [];
                canvasSerializer.clearJson();
            }

            Pixels.prototype.drawFromTable = function (table) {
                if (table.length > 0) {
                    table.forEach(item => {
                        initializeDrawing(item.pX, item.pY, item.cX, item.cY);
                    })
                } else {
                    canvasPixels.erase();
                    ctx.clearRect(0, 0, w, h);
                    canvasPixels.erase();
                    canvasSerializer.clearJson();
                }
            }

            let w, h;
            let canvas, ctx, flag = false,
                prevX = 0,
                currX = 0,
                prevY = 0,
                currY = 0,
                dot_flag = false;

            let x = "black",
                y = 2;

            function init() {
                canvas = document.getElementById('myCanvas');
                ctx = canvas.getContext("2d");
                w = canvas.width;
                h = canvas.height;

                //Get user nick and owner nick
                ipcRenderer.send('get-owner-user-data');
                ipcRenderer.on('answer-owner-user-data', (e, body) => {
                    user = body.user;
                    owner = body.owner;
                    if (user === owner) {
                        canvas.addEventListener("mousemove", function (e) {
                            findxy('move', e)
                        }, false);
                        canvas.addEventListener("mousedown", function (e) {
                            findxy('down', e)
                        }, false);
                        canvas.addEventListener("mouseup", function (e) {
                            findxy('up', e)
                            canvasPixels.savePixelsToJson();
                            ipcRenderer.send("syn_canvas", canvasPixels.getPixels(), current_room);
                        }, false);
                        canvas.addEventListener("mouseout", function (e) {
                            findxy('out', e)
                        }, false);
                        document.getElementById('text-button').style.display = "none";

                    } else {
                        document.getElementById('clear-button').style.display = "none";
                    }
                })
            }

            function makeOwner() {
                alert("You are a drawing person now ! Password is: " + pass);
                document.getElementById('text-button').style.display = "none";
                canvas.addEventListener("mousemove", function (e) {
                    findxy('move', e)
                }, false);
                canvas.addEventListener("mousedown", function (e) {
                    findxy('down', e)
                }, false);
                canvas.addEventListener("mouseup", function (e) {
                    findxy('up', e)
                    canvasPixels.savePixelsToJson();
                    ipcRenderer.send("syn_canvas", canvasPixels.getPixels(), current_room);
                }, false);
                canvas.addEventListener("mouseout", function (e) {
                    findxy('out', e)
                }, false);
            }

            function makeUser() {
                canvas.removeEventListener('mousemove');
                canvas.removeEventListener('mousedown');
                canvas.removeEventListener('mouseup');
                canvas.removeEventListener('mouseout');
            }

            canvasPixels = new Pixels();

            function draw() {
                ctx.beginPath();
                ctx.moveTo(prevX, prevY);
                ctx.lineTo(currX, currY);
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                canvasPixels.addPixel(prevX, prevY, currX, currY);
                ctx.stroke();
                ctx.closePath();
            }

            function initializeDrawing(pX, pY, cX, cY) {
                ctx.beginPath();
                ctx.moveTo(pX, pY);
                ctx.lineTo(cX, cY);
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                ctx.stroke();
                ctx.closePath();
            }

            function erase() {
                let m = confirm("Want to clear");
                if (m) {
                    ctx.clearRect(0, 0, w, h);
                }
                canvasPixels.erase();
                canvasSerializer.clearJson();
                ipcRenderer.send("syn_canvas", canvasPixels.getPixels(), current_room);
            }

            function findxy(res, e) {
                if (res == 'down') {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;

                    flag = true;
                    dot_flag = true;
                    if (dot_flag) {
                        ctx.beginPath();
                        ctx.fillStyle = x;
                        ctx.fillRect(currX, currY, 2, 2);
                        ctx.closePath();
                        dot_flag = false;
                    }
                }
                if (res == 'up' || res == "out") {
                    flag = false;
                }
                if (res == 'move') {
                    if (flag) {
                        prevX = currX;
                        prevY = currY;
                        currX = e.clientX - canvas.offsetLeft;
                        currY = e.clientY - canvas.offsetTop;
                        draw();
                    }
                }
            }

            init();
            let io = require('socket.io').listen(8899);
            io.sockets.on('connection', (socket) => {
                socket.emit('socket-data', "dupa z main js");
                socket.on('test', (data) => {
                    console.log(data);
                });
            });

            // canvasPixels.drawFromTable(canvasSerializer.getCanvas());

            // if (owner != user) {
            setInterval(() => {
                canvasPixels.drawFromTable(canvasSerializer.getCanvas());
                ipcRenderer.send('request-chat-msgs');
            }, 1000);
            // }

            ipcRenderer.on('answer-chat-messages', (e, body) => {
                body.forEach(el => {
                    createMessage(el.sender, el.text, 'other');
                })
            })


            exit_button = document.getElementById('exit-button');
            exit_button.addEventListener('click', () => {
                ipcRenderer.send('leave-gaming-room');
            })

            function createMessage(author, text, type) {
                let currentdate = new Date();
                let datetime = +currentdate.getHours() + ":" +
                    currentdate.getMinutes() + ":" +
                    currentdate.getSeconds();

                let body = document.createElement('div')
                let chat_col = document.createElement('div');
                chat_col.classList.add('col-md-10', 'col-xs-10');
                let message = document.createElement('div');
                let message_value = document.createElement('p');
                message_value.appendChild(document.createTextNode(text));
                let time_stamp = document.createElement('time');
                time_stamp.appendChild(document.createTextNode(datetime + ' ' + author));
                time_stamp.setAttribute("datetime", datetime);
                if (type == 'sent') {
                    body.classList.add('row', 'msg_container', 'base_sent');
                    message.classList.add('messages', 'msg_sent');
                } else {
                    body.classList.add('row', 'msg_container', 'base_recive');
                    message.classList.add('messages', 'msg_recive');
                }

                message.append(message_value);
                message.append(time_stamp);
                chat_col.append(message);
                body.append(chat_col);

                let panel = document.getElementById('main-chat-panel');
                panel.appendChild(body);
            }

            ipcRenderer.send('request-nick');
            ipcRenderer.on('request-nick-answer', (e, item) => {
                user = item;
            })

            ipcRenderer.send('request-current-room');
            ipcRenderer.on('current-room-answer', (e, room) => {
                current_room = room.name;
                owner = room.owner;
                pass = room.password;

                document.querySelector('title').innerHTML = current_room;
            });

            let msgButton = document.getElementById('text-button');
            let msgField = document.getElementById('text-field');

            msgButton.addEventListener('click', (e) => {
                e.preventDefault();
                ipcRenderer.send('chat-msg-sent', msgField.value)
                createMessage(user, msgField.value, "sent");
                msgField.value = '';
            });

            let clrButton = document.getElementById('clear-button');
            clrButton.addEventListener('click', erase);

            // let connection = new WebSocket('ws://127.0.0.1:1337');

            // connection.onopen = function () {
            //     alert("SUCCESS");
            // }

            ipcRenderer.on("victory", () => {
                alert("SUCCESS");
            });

            setInterval(() => {
                ipcRenderer.send('ask-victory');
            }, 3000);

            ipcRenderer.on('answer-ask-victory', (e,name) => {
                alert("FUCKING VICTORY BITCH");
                if (name == user) {
                    makeOwner();
                }
            })
        </script>
</body>

</html>