<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Room list!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <div>
    <div class="container">
      <h3>
        <label id="nick-label" class="label label-primary">DUPA</label>
      </h3>
      <ul id="room-list" class="list-group"></ul>
      <div class="row justify-content-center" style="padding-top: 10px;">
          <button type="submit" id="submit-room-button" class="btn btn-primary">Add New Room</button>
      </div>
    </div>
  </div>
  <script>
    require('../renderer.js');
    const rooms = require('./Rooms.js');
    const electron = require('electron');
    const ipcRenderer = require('electron').ipcRenderer;
    const ul = document.getElementById('room-list');
    const roomBtn = document.getElementById('submit-room-button');

    ipcRenderer.on('set-nick', (e, item) => {
      document.getElementById('nick-label').innerHTML = item;
    });

    const R = new rooms.Rooms();

    R.addNewRoom(3,"DUPA");
    R.incrementUsers(2);

    R.getAll().forEach((item) => {
      let li = document.createElement('li');
      li.classList.add('list-group-item');
      li.innerHTML =
        ` <span> ${item.name}</span> <span>${item.users}/10</span>`;
      ul.appendChild(li);
    })

    roomBtn.addEventListener('click', addNewRoom);

    function addNewRoom(e){
      e.preventDefault();
      ipcRenderer.send('new-room',R);
    }

  </script>
</body>

</html>