<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Room list!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <div>
    <div class="container">
      <h3>
        <label id="nick-label" class="label label-primary">ERROR</label>
      </h3>
      <ul id="room-list" class="list-group"></ul>
      <div class="row justify-content-center" style="padding-top: 10px;">
        <button type="submit" id="submit-room-button" class="btn btn-primary">Add New Room</button>
      </div>
      <div class="row justify-content-center" style="padding-top: 10px;">
        <button type="submit" id="exit-application-button" class="btn btn-primary">Exit</button>
      </div>
    </div>
  </div>
  <script>
    require('../renderer.js');
    const rooms = require('./Rooms.js');
    const electron = require('electron');
    const ipcRenderer = require('electron').ipcRenderer;
    const ul = document.getElementById('room-list');
    const roomBtn = document.getElementById('submit-room-button');

    let roomNames;

    ipcRenderer.on('set-nick', (e, item) => {
      document.getElementById('nick-label').innerHTML = item;
    });

    ipcRenderer.send('request-nick');
    ipcRenderer.on('request-nick-answer', (e, item) => {
      document.getElementById('nick-label').innerHTML = item;
    });

    ipcRenderer.on('rooms-update', (e, rooms) => {

    });


    // const R = new rooms.Rooms();

    // R.getAll().forEach((item) => {
    //   let li = document.createElement('li');
    //   li.classList.add('list-group-item');
    //   li.innerHTML =
    //     `<span>${item.name}</span> <span>${item.users}/10</span>`;
    //   ul.appendChild(li);
    // })

    reloadRooms();

    roomBtn.addEventListener('click', addNewRoom);

    function addNewRoom(e) {
      e.preventDefault();
      ipcRenderer.send('new-room-window-open');
    }

    function reloadRooms() {
      // ul.innerHTML = '';
      // delete require.cache[require.resolve('./Rooms.js')];
      // let roomz = require('./Rooms.js');
      // let rura = new roomz.Rooms();
      ipcRenderer.send('get-rooms')
      // rura.getAll().forEach((item) => {
      //   let li = document.createElement('li');
      //   li.classList.add('list-group-item');
      //   li.innerHTML =
      //     `<span>${item.name}</span>  <span>${item.users}/10</span>`;
      //   ul.appendChild(li);
      // })
    }

    ipcRenderer.on('answer-get-rooms', (e, data) => {
      ul.innerHTML = '';
      data.forEach((item) => {
        let li = document.createElement('li');
        li.classList.add('list-group-item');
        let nrOfUsers = Number(item.users) + 1;
        li.innerHTML =
          `<span>${item.name}</span>  <span>${nrOfUsers}/10</span> <button id="${item.name}">Enter</button>`;
        ul.appendChild(li);
        let button = document.getElementById(item.name);
        button.classList.add('btn');
        button.classList.add('btn-primary');
        button.classList.add('text');
        button.style.cssFloat = "right";

        button.addEventListener('click', () => {
          if (nrOfUsers < 10) {
            ipcRenderer.send('enter-game', item.name);
          } else {
            alert("ROOM TOO CROWDED!");
          }
        });
      })
    });

    setInterval(() => {
      reloadRooms();
    }, 2000);

    const exitButton = document.getElementById('exit-application-button');
    exitButton.addEventListener('click', () => {
      ipcRenderer.send('exit-application');
    })
  </script>
</body>

</html>